html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}


body {
  background-color: rgb(222, 243, 236);

}

.divContenedorApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  overflow: scroll;
}
* {
  padding: 0;
  margin: 0;
}

.divContenedorApp::-webkit-scrollbar {
  width: 1vw;
  height: 0;
}
.divContenedorApp::-webkit-scrollbar-thumb {
  background-color: #7fd2d4;
  border-radius: 0.2rem;
}

header {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

header > h1 {
  font-size: 3rem;
  overflow: hidden;
  padding: 0rem 1rem 0rem 0;
  color: rgb(218, 219, 207);
  text-align: center;
  background-color: rgb(120, 160, 177);
  border-radius: 0.5rem;
}
header > h1:before {
  color: rgb(241, 232, 232);
  content: "Datos";
  background-color: rgb(206, 197, 154);
  padding: 0 1rem 0 1rem;
}

.divContenedorBuscar {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: solid 0.1rem rgb(207, 199, 199);
  padding: .5rem 1rem .5rem 1rem;
  align-items: center;
  justify-content: center;
}

.divContenedorBuscar > input {
  font-weight: 650;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  font-size: 1.4rem;
  border: solid 0.1rem rgb(209, 189, 153);
  font-size: 1.5rem;
  outline: none;
  color: #b0be90;
  padding: 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.parratoCargando{
  font-size: 1.5rem;
  font-weight: 800;
  color: #d2d5d6;
}
.parratoError{
  font-size: 1.5rem;
  font-weight: 800;
  color: #d3a897;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.divContenedorOrdenarPor > button {
  cursor: pointer;
  background-color: transparent;
  border: 0.1rem solid #5e84a1;
  border-radius: 1.5rem;
  color: #628cac;
  cursor: pointer;
  font-family: Goldman, cursive;
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;
  padding: 0.3rem 0.5rem;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.divContenedorOrdenarPor > button:hover{
  background-color: antiquewhite;
}

.divContenedorOrdenarPor {
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.divContenedorOrdenarPor > h3 {
  color: rgb(112, 151, 151);
  font-family: Goldman, cursive;
}

article {
  width: 13rem;
  padding: 0.5rem .5rem 0.5rem .5rem;
  border: 0.1rem solid rgb(221, 221, 221);
  background-color: rgb(184, 223, 208);
  border-radius: 0.3rem;
  display: flex;
  gap: .5rem;
  flex-flow: column wrap;
  justify-content: left;
transition: .3s;
box-shadow: .05rem .05em .5rem .1rem rgba(56, 68, 64, 0.103);
cursor: pointer;
}

article:hover{
  transform: scale(1.05);
  box-shadow: .05rem .05em .5rem .1rem rgba(56, 68, 64, 0.411);
}


@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

article > .divContenedorDatosArticuloTitulo h1 {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0 0 0 .3rem;
  font-size: 1.7rem;
  color: #d6dfe2;
}

.divContenedorDatosArticulo{
  display: flex;
  flex-flow: row nowrap;
width: 100%;
  gap: .5rem;
}
.divContenedorDatosArticuloTitulo{
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(145, 206, 201);
  width: 100%;
  border-radius: .2rem;
}
.divContenedorDatosArticuloTitulo > h2 {
  padding: 0 0 0 .3rem;
  color: rgb(203, 215, 230);
  background-color: #84a7c2;
  border-radius: 0 0rem .3rem 0;
}
article:hover > .divContenedorDatosArticuloTitulo > h2 {
  color: rgb(214, 205, 188);
}
.divContenedorDatosArticulo > h2 {
 background-color: #7fd2d4;
  font-size: 1.1rem;
  padding: 0 .2rem 0 .2rem;
  font-family: Goldman, cursive;
}

.divContenedorDatosArticulo > h2:first-child {
  color: rgb(90, 168, 138);

}

.divContenedorDatosArticulo > h2:last-child {
  color: rgb(179, 170, 148);
  background-color: rgba(240, 248, 255, 0.26);
  padding: 0 .5rem 0 .5rem;
  border-radius: .2rem;
}

.divContenedorArticulos {
  margin: 1rem 0 0.5rem 0;
padding: .5rem 0 .5rem 0;
  background-color: rgb(88, 153, 173);
  width: 99vw;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  gap: 0.3rem;
}

.divContenedorPaginacion {
  gap: 0.3rem;
  width: 99vw;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  background-color: rgb(146, 197, 238);
}

.divContenedorPaginacion > button {
  border-radius: 0.3rem;
  padding: 0.4rem;
  cursor: pointer;
  color: white;
  border: 0;
  border-bottom: solid 0.1rem wheat;
  background-color: #66a9c5;
  width: 2rem;
}
.divContenedorPaginacion > button:hover {
  background-color: rgb(95, 149, 170);
}
